{{ define "main" }}


{{ partial "hero_section.html" (dict
    "hero_title" .Params.hero_title
    "hero_image" .Params.hero_image
    "breadcrumbs" .Params.breadcrumbs
) }}

<div class="container">
  <section class="ftco-section">
    <div class="container-fluid px-4">
      <!-- Pann Isai Research title -->
      <div class="row justify-content-center mb-5 pb-2">
        <div class="col-md-7 text-center heading-section ftco-animate">
          <h3 class="mb-2">Research</h3>
        </div>
      </div>
      <img src="{{ .Params.research_image }}" alt="Research Image" class="img-fluid mb-4" />
      <p>
        {{ $paragraphs := split .Params.paragraphs "\n" }}
        {{ range $paragraphs }}
          <p style="text-align: justify; line-height: 1.6; margin-bottom: 1rem;">{{ . }}</p>
        {{ end }}

      </p>

          {{ partial "table.html" (dict
              "headers" .Params.table_headers
              "rows" .Params.table_rows
          ) }}
    

    </div>
  </section>
</div>

{{ partial "footer.html" .  }}


{{ end }}
