<section class="hero-wrap hero-wrap-2" style="background-image: url('{{ .hero_image | relURL }}')" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <h1 class="mb-2 bread">{{ .hero_title }}</h1>
        <p class="breadcrumbs">
          {{ range .breadcrumbs }}
            <span class="mr-2">
              <a href="{{ .url | relURL }}">{{ .name }} <i class="ion-ios-arrow-forward"></i></a>
            </span>
          {{ end }}
        </p>
      </div>
    </div>
  </div>
</section>
